#logo {
	border-radius: 50%;
	height:80px;
	width:80px;
    position: fixed;
    top:10px;
    left:10px;
}


body {
    background-color: black;
    font-family: "Verdana", sans-serif;
    color: white;
  }

  #eggs {
    color: white;
    text-align: center;
  }

  p{
    color: grey;
    font-size: 16px;
    line-height: 48px;
    margin-top: 60px;
    padding: 10px 20px;
    text-align: left;
  }

  #main {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 800px;
    height: 1700px;
    
  }

  #footer {
    color: grey;
    text-align: center;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    padding: 20px;
  }

figure figcaption {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: thin;
}